body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #2ab699;
}

a:hover {
    color: #33dfbb;
}

header {
    margin: 0 auto;
}

header h1, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daf3ee;
    padding: 20px 30px;
    box-shadow: 5px 2px grey;
}

header h1 {
    text-align: left;
    color: #16cd9b;
    margin: 1em auto 0;
    font-weight: normal;
    font-size: 42px;
    text-shadow: .1em 0 0.5em #16cd9b;
}

header h1 a {
    text-decoration: none;  
}

header nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

div.page {
    background: #f1fefb;
}

p.meta {
    display: inline;
    padding: .3em;
    font-size: 85%;
    color: #555555;
    background-color: white;
}

div.blog-post {
    border-bottom: .1em dashed grey;
    margin-bottom: 1.5em;
}

footer {
    border-bottom-right-radius: 50px;
    margin-bottom: 2em;
}
